<header class="hero-image"
{{#if image}} style="background-image: url({{image}})"

{{else}}
    style="background-image: url({{@blog.cover}})"
{{/if}}
>
    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {{navigation}}
</header>