{{!< default}}

{{!> full-header}}

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">

            <h1>We are incredibly sorry!</h1>

            <p class="message">There was a problem retrieving the site.</p>

        </div><!-- main-content/col -->
    </div> <!--/row -->
</main> <!-- /container -->

<footer class="single single-page">
    <div class="container">
        <div class="col-sm-12">
            <p>{{@blog.description}}</p>
        </div>
    </div>
</footer>