{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

    <main class="container left-container">
        <div class="row">
            {{navigation}}
            {{> sidebar}}

            <div class="col-md-8 col-sm-12 col-md-offset-5 main-content">
                <div class="sub-nav">
                    <a href="/" class="select-posts active">{{ title }}</a>
                </div>

                {{ content }}

            </div><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->

{{/post}}