{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<main class="container left-container">
    <div class="row">
        {{navigation}}
        {{> sidebar}}

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <div class="sub-nav">
                <a href="#" class="select-posts active">Posts</a>
            </div>

            <div class="category-page-posts animated fadeIn ">

                {{! The tag below includes the post loop - partials/loop.hbs }}
                {{> "loop"}}
            </div>

        </div><!-- main content -->
    </div> <!--/row -->

</main> <!-- /container -->